# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [1]:
# Immutable, sequence
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [8]:
# Cast
print([4, 0, 2])

tuple([4, 0, 2])

[4, 0, 2]

(4, 0, 2)

In [9]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0] # access element with brackets; tuple indexing (right wording?)

's'

In [10]:
# Immutable
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
print(tup)
tup[1].append(3) # List element IN tuple is mutable
tup

('foo', [1, 2], True)

('foo', [1, 2, 3], True)

In [12]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [14]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [16]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
print(d)
tup[2]

7

(6, 7)

tmp = a
a = b
b = tmp

In [22]:
a, b = 1, 2
print('a: ', a)
print('b: ', b)
b, a = a, b
print('a: ', a, ', ', 'b: ', b)

a:  1
b:  2
a:  2 ,  b:  1

In [24]:
# Unpacking a sequence of tuples iterably with for loop
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(a, b, c)
    print('a={0}, b={1}, c={2}'.format(a, b, c))

1 2 3
a=1, b=2, c=3
4 5 6
a=4, b=5, c=6
7 8 9
a=7, b=8, c=9

In [27]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

[3, 4, 5]

In [29]:
a, b, *_ = values
_

[3, 4, 5]

#### Tuple methods

In [32]:
# Tuples are immutable, so not many instance methods!
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2) # count the number of 2s

4

### List

In [33]:
# Lists are mutable!!
# ...and use brackets, or list() type function

a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
print()
b_list[1] = 'peekaboo'
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [34]:
# Materialize an iterator or generator expression
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [35]:
# .append (LIST) method

print(b_list)
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz']

['foo', 'peekaboo', 'baz', 'dwarf']

In [36]:
# .insert list method

b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [37]:
# .pop list method

b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [39]:
b_list.append('foo')
print(b_list)
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo', 'foo']

['red', 'baz', 'dwarf', 'foo']

In [40]:
# Booleans with lists 
'dwarf' in b_list

True

In [41]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [42]:
# "+" binary operator for combining lists
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [45]:
# .extend list method 
x = [4, None, 'foo']
print(x)
x.extend([7, 8, (2, 3)]) # another list
x

[4, None, 'foo']

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [47]:
# .sort list method -- sort lists *in place*

a = [7, 2, 5, 1, 3]
print(a)
a.sort()
a

[7, 2, 5, 1, 3]

[1, 2, 3, 5, 7]

In [48]:
# .sort list method with key argument

b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) # .sort by 'key' argument 
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [63]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2) # 4 -- location where '2' would go to maintain sorting
bisect.bisect(c, 5) # 6 -- location where '5' would go to maintain sorting
bisect.insort(c, 6) # actually inserts the element into that location
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [64]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [70]:
print(seq)
print()
print(seq[3:4])
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 3, 3, 5, 6, 0, 1]

[6]

[7, 2, 3, 6, 3, 3, 3, 3, 5, 6, 0, 1]

In [71]:
print(seq)
print()
print(seq[:5])
seq[3:]

[7, 2, 3, 6, 3, 3, 3, 3, 5, 6, 0, 1]

[7, 2, 3, 6, 3]

[6, 3, 3, 3, 3, 5, 6, 0, 1]

In [73]:
print(seq)
print()
print(seq[-4:])
print()
seq[-6:-2]

[7, 2, 3, 6, 3, 3, 3, 3, 5, 6, 0, 1]

[5, 6, 0, 1]

[3, 3, 5, 6]

In [74]:
seq[::2] # beginning to end by twos

[7, 3, 3, 3, 5, 0]

In [75]:
seq[::-1] # whole shebang -- backwards!!

[1, 0, 6, 5, 3, 3, 3, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

In [ ]:
# Enumerate

# i = 0
# for value in collection:
#    i += 1

# for i, value in enumerate(collection):
#    do something with value

In [81]:
i = 0
for value in range(5):
    print(value)

0
1
2
3
4

In [78]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list):
    # i is iterating --- BECAUSE OF **ENUMERATE**
    print('i:', i, ', ', 'v:',v )
    mapping[v] = i
    
mapping

i: 0 ,  v: foo
i: 1 ,  v: bar
i: 2 ,  v: baz

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

#### zip

In [82]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
sorted('horse race') # alphabetical

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [87]:
seq1 = ['Alx', 'Ewan', 'Eve']
seq2 = ['kid one', 'kid two', 'kid three']
zipped = zip(seq1, seq2)
print(zipped)
list(zipped)

<zip object at 0x1047fe6c8>

[('Alx', 'kid one'), ('Ewan', 'kid two'), ('Eve', 'kid three')]

In [89]:
# Scale: triples
seq3 = ['Awesome', 'Cute', 'Perfect']
list(zip(seq1, seq2, seq3))

[('Alx', 'kid one', 'Awesome'),
 ('Ewan', 'kid two', 'Cute'),
 ('Eve', 'kid three', 'Perfect')]

In [96]:
# (1)
print('1: ', list(zip(seq1, seq2)))

#(2) ENUMERATE!!
print('2: ', list(enumerate(zip(seq1, seq2))))

1:  [('Alx', 'kid one'), ('Ewan', 'kid two'), ('Eve', 'kid three')]
2:  [(0, ('Alx', 'kid one')), (1, ('Ewan', 'kid two')), (2, ('Eve', 'kid three'))]

In [97]:

for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: Alx, kid one
1: Ewan, kid two
2: Eve, kid three

In [99]:
'{0}: {1} {2}'.format('Who', 'not', 'me!!')

'Who: not me!!'

In [102]:
'{0} {2}'.format('This', 'is', 'test')

'This test'

In [106]:
'{0} {2} {4} {5} {1}'.format('I', ', got it?', 'am', 'not', 'practicing', '.format-ing')

'I am practicing .format-ing , got it?'

In [113]:
pitchers = [('Nolan', 'Ryan'), 
            ('Roger', 'Clemens'),
            ('Schilling', 'Curt')
           ]
first_names, last_names = zip(*pitchers)
print('first names: ', first_names)
print('last_names: ', last_names)

'last names are {0}, {1}, and {2}.'.format(last_names[0], last_names[1], 'idiot')

first names:  ('Nolan', 'Roger', 'Schilling')
last_names:  ('Ryan', 'Clemens', 'Curt')

'last names are Ryan, Clemens, and idiot.'

#### reversed

In [114]:
# Function: reversed()

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# DICTIONARIES!!
### dict

In [124]:
empty_dict = {}
print('Notice \'{}\' for dictionaries')
print(empty_dict)
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4], 'kids': ['Alix', 'Ewan', 'Eve']}
d1

Notice '{}' for dictionaries
{}

{'a': 'some value', 'b': [1, 2, 3, 4], 'kids': ['Alix', 'Ewan', 'Eve']}

In [128]:
d1['Wife'] = 'Betsy'
print(d1)
d1['kids']

{'a': 'some value', 'b': [1, 2, 3, 4], 'kids': ['Alix', 'Ewan', 'Eve'], 7: 'an integer', 'Wife': 'Betsy'}

['Alix', 'Ewan', 'Eve']

In [130]:
'Wife' in d1

True

In [149]:
d1[5] = 'some value'
print(d1[5])
d1['dummy'] = 'another value'
d1

some value

{'a': 'some value',
 'b': [1, 2, 3, 4],
 'kids': ['Alix', 'Ewan', 'Eve'],
 'Wife': 'Betsy',
 5: 'some value',
 'dummy': 'another value'}

In [146]:
# dict[key] = value
# delete
del d1[5], d1[7] # Notice: dict[key] -- not indexes per se -- instead **KEYS** of 'key: value' pairs
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 'kids': ['Alix', 'Ewan', 'Eve'],
 'Wife': 'Betsy',
 'dummy': 'another value'}

In [150]:
# .pop -- removes AND  retrieves
# Think of *popping* the lid off a bottle... and CATCHING it.

ret = d1.pop('dummy') # JUST popped value
# i.e. dict.pop('key_i') = value_i

print(ret) # popped value
d1 # remaining dictionary

another value

{'a': 'some value',
 'b': [1, 2, 3, 4],
 'kids': ['Alix', 'Ewan', 'Eve'],
 'Wife': 'Betsy',
 5: 'some value'}

In [152]:
# If you can't tell what this one is doing... retire.
print(list(d1.keys()))
list(d1.values())

['a', 'b', 'kids', 'Wife', 5]

['some value', [1, 2, 3, 4], ['Alix', 'Ewan', 'Eve'], 'Betsy', 'some value']

In [153]:
print(d1)
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'kids': ['Alix', 'Ewan', 'Eve'], 'Wife': 'Betsy', 5: 'some value'}

{'a': 'some value',
 'b': 'foo',
 'kids': ['Alix', 'Ewan', 'Eve'],
 'Wife': 'Betsy',
 5: 'some value',
 'c': 12}

#### Creating dicts from sequences

In [ ]:
# mapping = {}
# for key, value in zip(key_list, value_list):
#     mapping[key] = value

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

In [155]:
hitters = ['Mauer', 'Votto', 'Trout', 'LarryWalker']
traits = ['Neo', 'Inside ball', 'Perfect', 'Economy of Motion']

mapping = {} # container

for hitter, trait in zip(hitters, traits):
    mapping[hitter] = trait
    
mapping

{'Mauer': 'Neo',
 'Votto': 'Inside ball',
 'Trout': 'Perfect',
 'LarryWalker': 'Economy of Motion'}

#### Default values

In [165]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    print('--', letter, '--')
    if letter not in by_letter:
        print('True')
        by_letter[letter] = [word]
        print('word = ', word, '|| letter = ', letter,  '|| by_letter = ', by_letter)
    else:
        print('False')
        by_letter[letter].append(word) # append 'word' to element (which is a list) of 'by_letter' where key = 'letter'
        
by_letter

-- a --
True
word =  apple || letter =  a || by_letter =  {'a': ['apple']}
-- b --
True
word =  bat || letter =  b || by_letter =  {'a': ['apple'], 'b': ['bat']}
-- b --
False
-- a --
False
-- b --
False

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#### Valid dict key types (spoiler: immutable keys)

In [168]:
# Dictionary elements should be immutable
# hash() checks this

hash('string') # Check
hash((1, 2, (2, 3))) # check
# hash((1, 2, [2, 3])) # fails because lists are mutable

1097636502276347782

In [169]:
d = {}
d[tuple([1, 2, 3])] = 5 # tuple works as key because it's immutable
d

{(1, 2, 3): 5}

### set: unordered colletion of unique elements; sound familiar?

In [172]:
# Create two ways
print(set([2, 2, 2, 1, 3, 3]))
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [175]:
# Create seq with squiggle
# This should be familiar from Real Analysis type sets, always notated with squiggles

a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [177]:
# Hey, look at that -- set operations!
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [178]:
a.intersection(b)
a & b

{3, 4, 5}

In [180]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [182]:
c = a.copy()
print('c: ', c)
c |= b # recall '+=' operation; this is 'or='; update to result of set operation 'or' (a.k.a union)
print('c: ', c)
d = a.copy()
print('d: ', d)
d &= b
d

c:  {1, 2, 3, 4, 5}
c:  {1, 2, 3, 4, 5, 6, 7, 8}
d:  {1, 2, 3, 4, 5}

{3, 4, 5}

In [186]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
(1, 2, 3, 4) in my_set # true
1 in my_set # false

False

In [188]:
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set)) # .issubset()
a_set.issuperset({1, 2, 3})

True

True

In [189]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [220]:
# [expression for elements in collection if condition]
[word.upper() for word in strings if len(word) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [191]:
unique_lengths = {len(x) for x in strings} # notice squiggles = set = unique elements
unique_lengths

{1, 2, 3, 4, 6}

In [195]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [196]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [202]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [201]:
loc_mapping2 = {(val, index) for index, val in enumerate(strings)}
loc_mapping2

{('a', 0), ('as', 1), ('bat', 2), ('car', 3), ('dove', 4), ('python', 5)}

#### Nested list comprehensions

In [214]:
all_data = [
    ['John', 'Emily', 'Michael', 'Mary', 'Steven'],
    ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']
]

[i for j in all_data for i in j]

In [221]:
# all_data = [j, j]
# all_data = [[i, i, i, i, i], [i, i, i, i, i]]

# [f(sub-element) for elements in collection for sub-elements in element]
result = [i for j in all_data for i in j]
result

['John',
 'Emily',
 'Michael',
 'Mary',
 'Steven',
 'Maria',
 'Juan',
 'Javier',
 'Natalia',
 'Pilar']

In [224]:
a = [
    ['b1c1', 'b1c2', 'b1c3'],
    ['b2c1', 'b2c2', 'b2c3']
]

# a = [b1, b2]
# a = [[c1, c2, c3, c4, c5], [c1, c2, c3, c4, c5]]

# [f(sub-element) for elements in collection for sub-elements in element]

result = [c for b in a for c in b]
result

['b1c1', 'b1c2', 'b1c3', 'b2c1', 'b2c2', 'b2c3']

In [225]:
# [name for list in BigList for name in list]

# List1 = ['List2', 'List2']
# List1 = [['Elem1', 'Elem2', ...], ['Elem1', 'Elem2', ...]]

result = [Elem for List2 in all_data for Elem in List2 if Elem.count('e') > 0]
result

['Michael', 'Steven', 'Javier']

In [207]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [230]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattened = [x for tup in some_tuples for x in tup]
print(flattened)

# some_tuples = [b, b, b]
# some_tuples = [(c, c, c), (c, c, c), (c, c, c)]
[c for b in some_tuples for c in b]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [229]:
# [small for medium in large for small in medium]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

## Functions

def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

### Namespaces, Scope, and Local Functions

def func():
    a = []
    for i in range(5):
        a.append(i)

a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

### Returning Multiple Values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

return_value = f()

def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

### Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Currying: Partial Argument Application

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=' ')

#### Generator expresssions

In [ ]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

#### itertools module

In [ ]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

### Errors and Exception Handling

In [ ]:
float('1.2345')
float('something')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('1.2345')
attempt_float('something')

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

#### Exceptions in IPython

In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [ ]:
%pushd book-materials

In [ ]:
path = 'examples/segismundo.txt'
f = open(path)

for line in f:
    pass

In [ ]:
lines = [x.rstrip() for x in open(path)]
lines

In [ ]:
f.close()

In [ ]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

In [ ]:
f.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f.seek(3)
f.read(1)

In [ ]:
f.close()
f2.close()

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [ ]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [ ]:
with open(path) as f:
    chars = f.read(10)
chars

In [ ]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [ ]:
data.decode('utf8')
data[:4].decode('utf8')

In [ ]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [ ]:
%popd

## Conclusion